#masthead>div>div.elementor-element.elementor-element-55fc3d2.e-flex.e-con-boxed.e-con.e-parent.e-lazyloaded>div>div.elementor-element.elementor-element-b3a56ba.e-con-full.e-flex.e-con.e-child li>a:hover {
    color: #429dda;
}

#masthead>div>div.elementor-element.elementor-element-55fc3d2.e-flex.e-con-boxed.e-con.e-parent.e-lazyloaded>div>div.elementor-element.elementor-element-b3a56ba.e-con-full.e-flex.e-con.e-child li:last-child>a {
    color: white !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
}

#masthead>div>div.elementor-element.elementor-element-55fc3d2.e-flex.e-con-boxed.e-con.e-parent.e-lazyloaded>div>div.elementor-element.elementor-element-305e2ae.e-con-full.e-flex.e-con.e-child>div>div>a>img {
    height: 70px !important;
    max-width: 100% !important;
    width: auto !important;
    width: 225px !important;
}

#menu-item-33>a {
    padding-right: 40px !important;
}

a {
    background-color: transparent !important;
    transition: none !important;
}

a:active {
    background-color: transparent !important;
    outline: none;
    box-shadow: none;
}

#colophon>div>div>div.elementor-element.elementor-element-263000e.e-flex.e-con-boxed.e-con.e-parent.e-lazyloaded>div>div.elementor-element.elementor-element-19c5afd.e-con-full.e-flex.e-con.e-child>div.elementor-element.elementor-element-e552bf4.elementor-widget.elementor-widget-image>div>img {
    height: 70px !important;
    max-width: 100% !important;
    width: auto !important;
    width: 225px !important;
}

#colophon>div>div>div.elementor-element.elementor-element-263000e.e-flex.e-con-boxed.e-con.e-parent.e-lazyloaded>div>div.elementor-element.elementor-element-19c5afd.e-con-full.e-flex.e-con.e-child>div.elementor-element.elementor-element-cdb1208.elementor-widget.elementor-widget-button>div>div>a {
    background-color: #429DDA !important;
}


#colophon>div>div>div.elementor-element.elementor-element-263000e.e-flex.e-con-boxed.e-con.e-parent.e-lazyloaded>div {
    padding-bottom: 0px !important;
    border-bottom: 10px solid #429DDA;
}

#menu-item-34>a {
    background-color: #429DDA !important;

}

#page>div>div.elementor-element.elementor-element-0649d1d.e-grid.e-con-boxed.e-con.e-parent.e-lazyloaded>div>div.elementor-element.elementor-element-f099099.elementor-widget.elementor-widget-button>div>div>a {
    background-color: #429DDA !important;
    width: 206px;
    height: 40px;
    font-family: Montserrat;

}

#field-ne,
#field-di,
#field-tf {
    width: 100%;
    height: 40px;
    color: #429dda;
    border: 1px solid #d3d3d3;
    background-color: #fafafa;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    background-color: white;
    padding: 6px 12px
}

#page>div>div.elementor-element.elementor-element-0649d1d.e-grid.e-con-boxed.e-con.e-parent.e-lazyloaded {
    width: 1363px;
    margin: 0 auto;
}

#page>div>div.elementor-element.elementor-element-bf388de.e-flex.e-con-boxed.e-con.e-parent.e-lazyloaded>div>div.elementor-element.elementor-element-ba7eb04.e-con-full.e-flex.e-con.e-child>div.elementor-element.elementor-element-a5b696f.elementor-widget.elementor-widget-image>div>img,
#page>div>div.elementor-element.elementor-element-bf388de.e-flex.e-con-boxed.e-con.e-parent.e-lazyloaded>div>div.elementor-element.elementor-element-985a582.e-con-full.e-flex.e-con.e-child>div.elementor-element.elementor-element-aaed402.elementor-widget.elementor-widget-image>div>img,
#page>div>div.elementor-element.elementor-element-bf388de.e-flex.e-con-boxed.e-con.e-parent.e-lazyloaded>div>div.elementor-element.elementor-element-c669ef8.e-con-full.e-flex.e-con.e-child>div.elementor-element.elementor-element-6ed012f.elementor-widget.elementor-widget-image>div>img,
#page>div>div.elementor-element.elementor-element-bf388de.e-flex.e-con-boxed.e-con.e-parent.e-lazyloaded>div>div.elementor-element.elementor-element-a9a5f39.e-con-full.e-flex.e-con.e-child>div.elementor-element.elementor-element-503878a.elementor-widget.elementor-widget-image>div>img,
#page>div>div.elementor-element.elementor-element-bf388de.e-flex.e-con-boxed.e-con.e-parent.e-lazyloaded>div>div.elementor-element.elementor-element-6244e1c.e-con-full.e-flex.e-con.e-child>div.elementor-element.elementor-element-ed0a3bc.elementor-widget.elementor-widget-image>div>img,
#page>div>div.elementor-element.elementor-element-bf388de.e-flex.e-con-boxed.e-con.e-parent.e-lazyloaded>div>div.elementor-element.elementor-element-03889fd.e-con-full.e-flex.e-con.e-child>div.elementor-element.elementor-element-3e94274.elementor-widget.elementor-widget-image>div>img,
#page>div>div.elementor-element.elementor-element-7bb41a1.e-flex.e-con-boxed.e-con.e-parent.e-lazyloaded>div>div.elementor-element.elementor-element-20f12a2.e-con-full.e-flex.e-con.e-child>div>div>img,
#page>div>div.elementor-element.elementor-element-7bb41a1.e-flex.e-con-boxed.e-con.e-parent.e-lazyloaded>div>div.elementor-element.elementor-element-ee34c67.e-con-full.e-flex.e-con.e-child>div>div>img {
    height: 100% !important;
}

#page>div>div.elementor-element.elementor-element-bf388de.e-flex.e-con-boxed.e-con.e-parent.e-lazyloaded>div>div.elementor-element.elementor-element-c669ef8.e-con-full.e-flex.e-con.e-child>div.elementor-element.elementor-element-6ed012f.elementor-widget.elementor-widget-image>div>img,
#page>div>div.elementor-element.elementor-element-bf388de.e-flex.e-con-boxed.e-con.e-parent.e-lazyloaded>div>div.elementor-element.elementor-element-a9a5f39.e-con-full.e-flex.e-con.e-child>div.elementor-element.elementor-element-503878a.elementor-widget.elementor-widget-image>div>img,
#page>div>div.elementor-element.elementor-element-bf388de.e-flex.e-con-boxed.e-con.e-parent.e-lazyloaded>div>div.elementor-element.elementor-element-6244e1c.e-con-full.e-flex.e-con.e-child>div.elementor-element.elementor-element-ed0a3bc.elementor-widget.elementor-widget-image>div>img {
    width: 310px;
    height: 175px;
    object-fit: cover;
}

#colophon>div>div>div.elementor-element.elementor-element-b1e91f3.e-flex.e-con-boxed.e-con.e-parent.e-lazyloaded {
    background-color: white
}

#colophon>div>div>div.elementor-element.elementor-element-263000e.e-flex.e-con-boxed.e-con.e-parent.e-lazyloaded>div>div.elementor-element.elementor-element-2d48742.e-con-full.e-flex.e-con.e-child {
    background-color: #429DDA;
    position: relative;
    padding-bottom: 0px !important;
    border-bottom: 5px solid #429DDA;
}

#colophon>div>div>div.elementor-element.elementor-element-263000e.e-flex.e-con-boxed.e-con.e-parent.e-lazyloaded>div>div.elementor-element.elementor-element-2d48742.e-con-full.e-flex.e-con.e-child::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 100%;
    background-color: #429DDA;
    width: 100vw;
    border-bottom: 5px solid #429DDA;
}

#colophon>div>div>div.elementor-element.elementor-element-263000e.e-flex.e-con-boxed.e-con.e-parent.e-lazyloaded>div {
    padding-bottom: 0px !important;
    border-bottom: 10px solid #429DDA;
    position: relative;
    background-color: #fff;
}

#colophon>div>div>div.elementor-element.elementor-element-263000e.e-flex.e-con-boxed.e-con.e-parent.e-lazyloaded>div::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 100%;
    width: 100vw;
    height: 20px;
    background-color: #429DDA;
}

#menu-item-28>a {
    color: #000;
    text-decoration: none;
}

#menu-item-28>a:active,
#menu-item-28.current-menu-item>a {
    color: #429DDA;
    text-decoration: underline;
    text-decoration-color: #273a7c;
    text-decoration-thickness: 3px;
    text-underline-position: below;
    text-underline-offset: 10px;
}

#page>div>div.elementor-element.elementor-element-456b2a1.e-con-full.e-flex.e-con.e-parent.e-lazyloaded {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    width: 100% !important;
    margin: auto
}

body {
    overflow-x: hidden
}